.table-info{
  text-align:center;
}
.record-table{
  padding-bottom:30px;
  margin-left:25px;
  margin-right:25px;
}
html{
  padding-top:60px;
  padding-left:60px;
  padding-right:60px;
  padding-bottom:60px;
}